<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CYBackwardCompatibleExport</key>
	<false/>
	<key>Steps</key>
	<array>
		<dict>
			<key>Completed</key>
			<true/>
			<key>Detail</key>
			<string>Set the source podcast for your widget.

[DONT_LOCALIZE GoTo, Tag(201) DONT_LOCALIZE] Podcast properties
[DONT_LOCALIZE Help, URL(http://www.apple.com/ilife/tutorials/iweb/iw1-8.html) DONT_LOCALIZE] Podcast publishing</string>
			<key>MainHelp</key>
			<string>Tag(212)</string>
			<key>Required</key>
			<true/>
			<key>Title</key>
			<string>Provide podcast</string>
		</dict>
		<dict>
			<key>Completed</key>
			<true/>
			<key>Detail</key>
			<string>Provide an identifier and version number for your widget.

[DONT_LOCALIZE GoTo, Tag(200) DONT_LOCALIZE] Attributes</string>
			<key>MainHelp</key>
			<string>Tag(202)</string>
			<key>Required</key>
			<true/>
			<key>Title</key>
			<string>Set attributes</string>
		</dict>
		<dict>
			<key>Completed</key>
			<true/>
			<key>Detail</key>
			<string>Preview your widget's default image and exclude items on the canvas that have text.

[DONT_LOCALIZE GoTo, Tag(103) DONT_LOCALIZE] Default image preview
[DONT_LOCALIZE GoTo, Tag(101) DONT_LOCALIZE] Canvas
[DONT_LOCALIZE GoTo, Tag(303) DONT_LOCALIZE] Attributes inspector</string>
			<key>MainHelp</key>
			<string>Tag(203)</string>
			<key>Recommended</key>
			<true/>
			<key>Title</key>
			<string>Preview default image</string>
		</dict>
		<dict>
			<key>Completed</key>
			<false/>
			<key>Detail</key>
			<string>Create an icon for your widget by placing art and adjusting the icon's properties in the Fill &amp; Stroke inspector.

[DONT_LOCALIZE GoTo, Tag(104) DONT_LOCALIZE] Widget icon composer
[DONT_LOCALIZE GoTo, Tag(301) DONT_LOCALIZE] Fill &amp; Stroke inspector</string>
			<key>MainHelp</key>
			<string>Tag(204)</string>
			<key>Recommended</key>
			<true/>
			<key>Title</key>
			<string>Design widget icon</string>
		</dict>
		<dict>
			<key>Completed</key>
			<true/>
			<key>Detail</key>
			<string>Run your widget to test it and track down problems.

When you're finished with testing, deploy your widget to share it.</string>
			<key>MainHelp</key>
			<string>Tag(205)</string>
			<key>Recommended</key>
			<true/>
			<key>Title</key>
			<string>Test &amp; share</string>
		</dict>
	</array>
	<key>TemplateIdentifier</key>
	<string>com.apple.Dashcode.template.podcast</string>
	<key>WidgetIconImageSettings</key>
	<string>image-theme: 1; image-shape: 3; image-opacity: 1.00; image-top-color: 0.4000,1.0000,1.0000; image-bottom-color: 0.0000,0.2510,0.5020; image-radius: 13,13,13,13; image-border: 1; image-border-color: 0.7500,0.7500,0.7500; image-border-width: 1; shine-include-shine: 0; shine-include-alphas: 0; shine-height: 0.51; glass-include-arc: 1; shine-include-bottom: 0; shine-over-border: 0; image-include-custom: 1; image-custom-above-lighting: 0; image-custom-center: 0; image-custom-x: 23.90; image-custom-y: 23.10; image-custom-resize-to-fit: 0; shadow-include-shadow: 1; shadow-blur: 6.00; shadow-offset: 0.00,-3.00; shadow-color: 0.0000,0.0000,0.0000,0.3333;</string>
	<key>WidgetIconIncludeLayer</key>
	<true/>
	<key>WidgetIconLayerPoint</key>
	<string>{23.8981, 23.102}</string>
	<key>WidgetIconLayerSize</key>
	<string>{52.2039, 52}</string>
</dict>
</plist>
